<%# <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ouput</title>
  </head>

  <body>
    <h1>Pig Latinized Results</h1>
    <%= @piglatin_text %>
  <%# </body>
</html> %> 


<h1>Pig Latinized sentence:</h1>
<p><%= @piglatin %></p>